@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;400;700;900&display=swap');

@media only screen and (max-width: 600px) {
  #packages {
    border-radius: 0!important;
  }
}
/* Loading animation by https://loading.io/css/*/
@keyframes lds-ellipsis1{0%{transform:scale(0)}100%{transform:scale(1)}}@keyframes lds-ellipsis3{0%{transform:scale(1)}100%{transform:scale(0)}}@keyframes lds-ellipsis2{0%{transform:translate(0,0)}100%{transform:translate(24px,0)}}.lds-ellipsis{display:inline-block;position:relative;width:80px;height:80px}.lds-ellipsis div{position:absolute;top:33px;width:13px;height:13px;border-radius:50%;background:#fff;animation-timing-function:cubic-bezier(0,1,1,0)}.lds-ellipsis div:nth-child(1){left:8px;animation:lds-ellipsis1 .6s infinite}.lds-ellipsis div:nth-child(2){left:8px;animation:lds-ellipsis2 .6s infinite}.lds-ellipsis div:nth-child(3){left:32px;animation:lds-ellipsis2 .6s infinite}.lds-ellipsis div:nth-child(4){left:56px;animation:lds-ellipsis3 .6s infinite}

#loading {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --yellow: rgb(255, 204, 0);
  --red: rgb(212 5 17);
  --black: rgba(0,0,0,0.9);
  --blue: rgba(0, 120, 250, 0.8);
  --green: rgba(0, 150, 0, 0.8);
  --grey: rgba(100, 100, 100, 0.8);
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style-type: none;
}

.hidden {
  display: none!important;
}

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
  background: var(--yellow);
  color: var(--black);
  font-family: 'Lexend Deca', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

#app {
  width: 600px;
  margin: 0 auto;
}

#app > header {
  padding: 50px 0;
  text-align: center;
}

#app > header h1 {
  padding: 0 15px 0 10px;
  border-top: 6px solid var(--red);
  border-bottom: 6px solid var(--red);
  color: var(--red);
  font-weight: 900;
  text-transform: uppercase;
  font-style: italic;
  font-size: 2.5rem;
  display: inline-block;
}

#packages {
  padding: 10px 20px;
  border-radius: 20px;
  background: rgba(255,255,255,0.4);
}

#search {
  padding: 10px 0;
  display: none;
}

#loading.hidden + #search {
  display: block;
}

#search > input {
  width: calc(100% - 40px);
  padding: 5px 20px;
  border: none;
  border-radius: 30px;
  background: rgba(255,255,255,0.4);
  font-size: 2rem;
  font-family: 'Lexend Deca', sans-serif;
}

#search > input::placeholder {
  color: rgba(0,0,0,0.2);
}

#search > input::selection {
  background: var(--red);
  color: #fff;
}

#search > input:hover,
#search > input:focus {
  background: rgba(255,255,255,0.85);
}

#packages > ul {
  width: 100%;
  display: inline-block;
}

#packages > ul > li {
  width: 100%;
  margin: 10px 0;
  border-radius: 20px;
  background: rgba(255,255,255,0.85);
  overflow: visible;
  display: inline-flex;
  align-items: stretch;
}

#packages > ul > li > .left {
  width: 70%;
}

#packages > ul > li > .right {
  width: 30%;
}

#packages > ul > li > .right {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
}

#packages > ul > li > .right img {
  position: absolute;
}

#packages > ul > li > .left > header {
  margin: 20px 20px 0;
  padding: 0 0 15px;
  border-bottom: 1px solid var(--grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#packages > ul > li > .left > header > .title {
  color: var(--red);
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

#packages > ul > li > .left > header > .status {
  padding: 5px 10px;
  border-radius: 15px;
  background: var(--grey);
  color: #fff;
  font-size: 0.8rem;
  line-height: 0.8rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

#packages > ul > li > .left > header > .ready-for-pickup { background: var(--blue); }
#packages > ul > li > .left > header > .on-the-way { background: var(--blue); }
#packages > ul > li > .left > header > .delivered { background: var(--green); }

ul.info {
  padding: 20px;
}

ul.info > li {
  margin-bottom: 5px;
  display: flex;
  gap: 15px;
}

ul.info > li > span:first-child {
  width: 35%;
  color: rgba(0,0,0,0.5);
  display: inline-block;
  text-align: right;
}

ul.info > li > span:last-child,
ul.info > li > time:last-child {
  width: 65%;
  display: inline-block;
}

ul.info > li > span.location {
  display: flex;
  align-items: center;
}

ul.info > li > span.location::after {
  padding-left: 1ch;
  font-size: 0.8rem;
}

ul.info > li > span.location.ok::after {
  content: "—OK";
  color: var(--green);
}

ul.info > li > span.location.not-ok::after {
  content: "—Not OK";
  color: var(--red);
}

#packages mark {
  background-color: var(--yellow);
  color: inherit;
}

#app > footer {
  height: 50px;
  padding: 30px 0;
  color: var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  font-size: 0.8rem;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 2px;
}
